
        
        h1 {
            color: rgb(255, 250, 250);
        }  
        
        body {
            background-color: rgb(173,216,230);
        }

#nav-table {width : 800px;}
        
            

